/* Шрифты */
@font-face {
	font-family: 'cuprum';
	font-style: normal;
	font-weight: 400;
	src: local('cuprum'),
	url('fonts/web/cuprum.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/web/cuprum.woff') format('woff'); /* Super Modern Browsers */
}

@font-face {
	font-family: 'cuprumbold';
	font-style: normal;
	font-weight: 700;
	src: local('cuprumbold'),
	url('fonts/web/cuprumbold.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/web/cuprumbold.woff') format('woff'); /* Super Modern Browsers */
}

@font-face {
	font-family: 'cuprumbolditalic';
	font-style: italic;
	font-weight: 700;
	src: local('cuprumbolditalic'),
	url('fonts/web/cuprumbolditalic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/web/cuprumbolditalic.woff') format('woff'); /* Super Modern Browsers */
}

@font-face {
	font-family: 'cuprumitalic';
	font-style: italic;
	font-weight: 400;
	src: local('cuprumitalic'),
	url('fonts/web/cuprumitalic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/web/cuprumitalic.woff') format('woff'); /* Super Modern Browsers */
}

@font-face {
	font-family: 'ptsans';
	font-style: normal;
	font-weight: 400;
	src: local('ptsans'),
	url('fonts/web/ptsans.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/web/ptsans.woff') format('woff'); /* Super Modern Browsers */
}

@font-face {
	font-family: 'ptsansbold';
	font-style: normal;
	font-weight: 700;
	src: local('ptsansbold'),
	url('fonts/web/ptsansbold.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/web/ptsansbold.woff') format('woff'); /* Super Modern Browsers */
}

/* Общие стили */
html	{
	box-sizing: border-box;
}
*, *::befor, *::after {
	box-sizing: inherit;
} 
.clearfix::after {
	display: block;
	content: '';
	clear: both;
}
.container {
	width: 960px;
	margin: 0 auto;
}
body {
	background-color: #fff;

}
a,p {
	margin: 0;
	padding: 0;
}
.logotype {
	display: inline-block;
	width: 220px;
	height: 35px;
	color: #fff;
	background-color: #ee3643;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
	border-top: 1px solid #e03643;
	box-shadow: 0 5px 0 #b52933;
	padding-top: 6px;
}
.logotype:hover {
	background-color: #ca2c37;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
/* Временные стили 
body > * {
	outline: 2px dotted red;
}
body > * > * {
	outline: 2px dotted green;
}
body > * > * > * {
	outline: 2px dotted blue;
}
body > * > * > * > * {
	outline: 2px dotted lightgreen;
}
body > * > * > * > * > * {
	outline: 2px dotted lightblue;
}*/
.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
/* Стили для header*/
.header-up {
	background-color: #293449;
	font-family: 'cuprum', sans-serif;
}
.header-up .class1, .class2 {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	height: 34px;
	width: 151px;
	text-align: center;
	vertical-align: middle;
	font-size: 17px;
	padding-top: 8px;
}
.header-up .class1:hover, 
.header-up .class2:hover {
	background-color: #212a3a;
}
.header-up .class1:focus, 
.header-up .class2:focus {
	background-color: #212a3a;
}
.header-up .class1::before {
	content: '';
	display: block;
	float: left;
	height: 20px;
	width: 20px;
	background: url('img/icon-bookmark.png');
	background-repeat: no-repeat;
	margin: 0px 10px 0px 27px
}
.header-up .class2::before {
	content: '';
	display: block;
	float: left;
	height: 20px;
	width: 20px;
	background: url('img/icon-basket.png');
	background-repeat: no-repeat;
	margin: 0px 10px 0px 27px;
}
.header-up .class3 {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	height: 34px;
	width: 151px;
	text-align: center;
	vertical-align: middle;
	font-size: 17px;
	padding-top: 8px;
	background-color: #63a63e;
}
.header-up .class3:hover {
	background-color: #5fbb2d;
}
.header-up .class3:active {
	background-color: #518534;
}
.header-up .class3:focus {
	background-color: #5fbb2d;
}
.header-up form {
	display: inline-block;
	width: 270px;
}
.header-up input {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	padding: 0;
	width: 220px;
	height: 100%;
	padding-left: 50px;
}
.header-up form::before {
	content: '';
	display: block;
	float: left;
	height: 18px;
	width: 18px;
	background: url('img/icon-search.png');
	background-repeat: no-repeat;
    margin: 0px 0px -18px 17px;

}
.bg-color {
	background-color: #f1f5f7;
    padding-bottom: 65px;
}
.description-shop {
	float: left;
    padding: 43px 70px 43px 53px;
	font-family: 'cuprumbolditalic', sans-serif; 
	color: #ee3643;
	font-size: 16px;
	line-height: 1.5;
}
.header-contact {
	float: left;
}
.header-contact a {
	display: inline-block;
	text-decoration: none;
    padding: 8px 45px 8px 10px;
    border: 3px solid #ffffff;
    color: #ee3643;
    font-family: 'cuprumbold',  sans-serif;
    font-size: 21px;
    margin: 46px 0 0 0px;
}
.header-contact a::before {
	content: '';
	display: block;
	float: left;
	height: 19px;
	width: 19px;
	background: url('img/icon-phone.png');
	background-repeat: no-repeat;
	margin: 3px 40px 0px 0px;
}
.header-contact address {
	margin: 10px 10px 38px 10px;
    font-size: 14px;
	font-family: 'cuprum',  sans-serif;
    color: #32425c;
    font-style: normal;
}	
.write {
	float: right;
	font-family: 'cuprum',  sans-serif;
	font-size: 21px;
    padding-top: 46px;
}
.user-write li {
	float: left;
}
.user-write a {
	display: inline-block;
	text-decoration: none;
	background-color: #ffffff;
	color: #000000;
}
.write .login {
    padding: 11px 27px 11px 10px;
 }
 .login::before {
 	content: '';
 	display: block;
 	float: left;
 	height: 17px;
 	width: 20px;
 	background: url(img/icon-login.png);
 	background-repeat: no-repeat;
    margin: 4px 15px 0 0;
 }
.write .registration {
    padding: 11px 28px 11px 28px;
   	margin-left: 10px;
 }
.navigation {
	background-color: #32425c;
	box-shadow: 0 5px 0 #293449;
}
.navigation li {
	float: left;
}
.navigation a {
	display: inline-block;
	padding: 22px 35px 22px 35px;
	text-decoration: none;
	font-family: 'cuprum',  sans-serif;
	font-size: 17px;
	color: #ffffff;

}

.navigation a:hover {
	background-color: #293449;
}
.navigation a:active {
	background-color: #1d2739;
}
.navigation a:focus {
	background-color: #293449;
}
/* main стили */
.main-header-up article {
	float: left;
	height: 123px;
	width: 306px;
    color: #ffffff;
    font-family: 'cuprum',  sans-serif;
    font-size: 24px;
}
.main-yellow {
	background-color: #f6b22d;
	background-image: url('img/material-icon.png');
	background-repeat: no-repeat;
	background-position-x: 213px;
	background-position-y: 30px;
}
.main-blue {
	background-color: #4aafde;
	background-image: url('img/icon-tool.png');
	background-repeat: no-repeat;
	background-position-x: 202px;
	background-position-y: 30px;
	margin-left: 20px;
}
.main-purple {
	background-color: #cc79d1;
	background-image: url('img/icon-technic.png');
	background-repeat: no-repeat;
	background-position-x: 202px;
	background-position-y: 30px;
	margin-left: 20px;
}
.main-header-up {
    padding-top: 60px;
}
.main-header-up h4 {
    margin: 26px 0px 15px 22px;
}	
.main-header-up a {
	background-color: #e5e5e5;
	text-decoration: none;
	border-radius: 3px;
	padding: 11px 26px;
	font-family: inherit;
	font-size: 14px;
	text-transform: uppercase;
	color: inherit;
	margin-left: 25px;
}

