/* Общие стили */
html	{
	box-sizing: border-box;
}
*, *::befor, *::after {
	box-sizing: inherit;
} 
.clearfix::after {
	display: block;
	content: '';
	clear: both;
}
.container {
	width: 960px;
	margin: 0 auto;
	}
/* Общие стили */
body {
	margin: 0;
	background-image: url(img/background.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #141414;
	text-transform: uppercase;
}
/* Временные стили */

 
body > * {
	outline: 2px dotted red;
}
body > * > * {
	outline: 2px dotted green;
}
body > * >* > * {
	outline: 2px dotted blue;
}
/* Стили для header*/
.main-header {
	min-width: 960px;
	background-color: #000000;
	color: #ffffff;
	font-size: 16px;
}
.main-header a {
	color: #ffffff;
	display: inline-block;
	padding: 27px 0;
	margin-left: 20px;
	margin-right: 20px;
}
.main-header ul {
 	margin: 0;		
 	padding: 0;
 	list-style-type: none;
}
.main-navigation {
	float: left;
}
.user-nav {
	float: right;
}
.main-navigation li {
	float: left;
}
/* Стили для main*/
.main-content {
	min-width: 960px;
	background-image: url(img/background.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #141414;
}
.main-page-title {
	text-align: center;
	margin: 0;
	padding: 60px 0px 70px;
}
.advantages {
	color: #ffffff;
	text-align: center;
}
.advantages ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.advantages li {
	float: left;
	width: 28%;
	padding-left: 22px;
	padding-right: 22px;
}

/*Стили для item*/
body.bg-image {
	background-image: url(img/pattern-div.jpg);
	background-repeat: repeat;
	background-color: #ffffff;
	font-size: 14px;

}

.main-item h1 {
	margin: 0;
	padding-top: 47px;
	font-size: 30px;
}
.main-item ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 40px;
}
.main-up li {
	float: left;
	color: #000000;
}

.main-up a {
	color: #000000;
	display: inline-block;
	padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 0px;
    margin-right: 20px;

}
.item-image {
	margin: 0;
	float: left;
	width: 460px;

}
.mini-item-image {
	padding-top: 21px;
    padding-bottom: 46px;

}

.mini-item-image a {
	float: left;
	margin-right: 20px;

}
.mini-item-image a:nth-child(3n) {
	margin-right: 0px;

}
.line-right {
 	float: left; 
}
.line-left {
	float: right;
	padding-right: 9px;
}

.product-description {
	float: right;
	width: 410px;
	padding-top: 26px;
	margin-left: 90px;
}
.item-button {
	margin-top: 43px;
}
.item-button a {
	float: left;
	text-decoration: none;
    padding: 12px 10px;
    border: 1px solid #000000;
    background-color: #000000;
    color: #ffffff;
}
.gray {
	float: left;
    padding: 12px 25px;
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;

}
.product-description p {
	margin-top: 43px;
	text-align: left;

}
.product-description h2 {
	font-size: 24px;
	margin-top: 68px;
    margin-bottom: 42px;
}
.product-description ul {
	list-style-type: none;
	padding: 0;
	padding-left: 11px;
}
.product-list li {
	position: relative;
    display: block;
    padding-left: 14px;
    padding-bottom: 6px;

}
.product-list li::before {
	content: '';
	position: absolute;
	left: -8px;
	top: 4px;
	width: 7px;
	height: 7px;
	background-color: #000000;
	transform: rotate(45deg); 
}
.visually-hidden {
	display: none;

}
/*Стили для price*/

.main-price h1 {
	margin-top: 60px;
	margin-bottom: 32px;
	font-size: 30px;
}
.main-price ol {
	padding-left: 0;
    list-style-type: none;
    margin: 0;

}
.price-up li {
	float: left;

}
.price-up a {
	display: inline-block;
	padding: 15px 0;
	margin-right: 40px;
}
.men-classic h2 {
	margin-top: 60px;
	font-size: 40px;
 	text-align: center;
    margin-bottom: 0
}
.men-classic h3 {
	margin: 0;
	font-size: 24px;
}
.men-classic div {
	margin-top: 75px;
}
.best-product {
	float: left;
	width: 334px;
}
.best-product ul {
	padding: 0;
    list-style-type: none;
    margin-top: 40px;
    margin-bottom: 0
}
.best-product li {
	position: relative;
	padding-bottom: 27px;
	padding-left: 19px
}
.best-product li::before {
	content: '';
	position: absolute;
	left: 0px;
	top: 4px;
	width: 7px;
	height: 7px;
	background-color: #000000;
	transform: rotate(45deg);
} 
.price-of-work {
	float: left;
}
.price-of-work h3 {
	width: 250px;

}

/* Стили для footer*/
.main-footer {
	min-width: 960px;
	background-image: url(img/pattern.jpg);
	background-repeat: repeat;
	background-color: #222222;
	color: #ffffff;
	padding-top: 60px;
	padding-bottom: 40px;
}
.footer-contacts {
	float: left;
	width: 310px;
	margin-right: 90px;
}
.footer-social {
	float: left;
}
.footer-copyright {
	float: right;
}
.main-header ul {
	margin: 0;
	padding: 0;
	list-style-type: none; 
}
